h1 {
    text-align: center;
}

.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}

.red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
}

.green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
}

.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
}

.container {
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
}

.sleeve {
    background-color: rgba(255, 255, 255, 0.5);
    height: 25px;
    width: 110px;
    border-left: 10px solid double;
}

.cap {
    width: 60px;
    height: 25px;
}

.cap, .sleeve {
    display: inline-block;
}